<%- include('../partials/header') %>

    <%- include('../partials/menu') %>
        <h1>Editar Cliente/Fornecedor</h1>
        <form id="formEditarCliente" action="/editar-cliente-fornecedor/<%= clienteFornecedor.id %>" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="<%= clienteFornecedor.nome %>"
                    required />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">CPF/CNPJ</span>
                <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj"
                    value="<%= clienteFornecedor.cpf_cnpj %>" required>
            </div>

            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select" id="tipo" name="tipo" required>
                    <option value="C" <%=clienteFornecedor.tipo==='C' ? 'selected' : '' %>>Cliente</option>
                    <option value="F" <%=clienteFornecedor.tipo==='F' ? 'selected' : '' %>>Fornecedor</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Atualizar Cliente/Fornecedor</button>
        </form>
        <%- include('../partials/footer') %>